.container{
    display: inline-block;
    text-align: center;
    background: white;
}
.emptyDay{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
}
.dayBlock{
    width: 3rem;
    height: 3rem;
    text-align: center;
    position: relative;
}
.calendarContainer{
    background: white;
    border-collapse: collapse;
    width: 100%;
}
.today{
    background: #a9a9a9;
}
.selected{
    box-shadow: 0 0 0 0.2rem gray inset;
}
.mark{
    width: 0.5rem;
    height: 0.5rem;
    background: black;
    float: left;
    margin-left: 0.1rem;
    border-radius: 50%;
    background: #FF629D;
}
.marks{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: 0.5rem;
}
.CalendarHeader{
    
}
.Year{
    float: left;
}
.Date{
    float: left;
}
.YDContainer{
    margin: 0 auto;
    overflow:hidden;
    display: inline-block;
    font-size: 2.5rem;
    font-weight:200;
    margin-top: 4rem;
}
.controller{
    float: left;
}
.dayBlock{
    text-align: center;
}
.weekArr{
    border-top:0.08rem solid #e2e2e2;
}
.date{
    width: 1.6rem;
    height: 1.6rem;
    text-align: center;
    margin: 0 auto;
    line-height: 1.6rem;
    border-radius: 50%;
    font-weight: 700;
}
.selectedDate{
    width: 1.6rem;
    height: 1.6rem;
    background: #FF3B30;
    text-align: center;
    margin: 0 auto;
    line-height: 1.6rem;
    border-radius: 50%;
    color: white;
    font-weight: 700;
}