@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("./assets/fonts/apple_sandol/AppleSDGothicNeoB.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("./assets/fonts/apple_sandol/AppleSDGothicNeoEB.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("./assets/fonts/apple_sandol/AppleSDGothicNeoH.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("./assets/fonts/apple_sandol/AppleSDGothicNeoL.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("./assets/fonts/apple_sandol/AppleSDGothicNeoM.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("./assets/fonts/apple_sandol/AppleSDGothicNeoR.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("./assets/fonts/apple_sandol/AppleSDGothicNeoSB.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("./assets/fonts/apple_sandol/AppleSDGothicNeoT.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("./assets/fonts/apple_sandol/AppleSDGothicNeoUL.ttf") format("truetype");
  font-weight: 200;
}

body{
    font-family: 'AppleSDGothicNeo', serif;
    font-weight: 500;
    -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}
input,textarea{
    font-family: 'AppleSDGothicNeo', serif;
    font-weight: 500;
}